/* ***********************************************
 quasar custom brand 
************************************************ */
:root {
    --q-bg-hi-1: #FFFFFF;
    --q-bg-hi-1-dark: #424242;

    --q-bg-hi-2: #EEEEEE;
    --q-bg-hi-2-dark: #616161;
    
    --q-bg-hi-3: #DDDDDD;
    --q-bg-hi-3-dark: #9e9e9e;
    
    --q-fc-hi-1: var(--q-bg-hi-1-dark);
    --q-fc-hi-2: var(--q-bg-hi-2-dark);
    --q-fc-hi-3: var(--q-bg-hi-3-dark);
    --q-fc-hi-1-dark: var(--q-bg-hi-1);
    --q-fc-hi-2-dark: var(--q-bg-hi-2);
    --q-fc-hi-3-dark: var(--q-bg-hi-3);

    --scrollbar-color: #00b4ff;
    --q-light: #FFFFFF;

    --leftmenu-width: 300px;
}

/* light */
.text-light{
    color: var(--q-light) !important;
}
.bg-light{
    background: var(--q-dark) !important;
}
.body--dark .text-light{
    color: var(--q-dark) !important;
}
.body--dark .bg-light{
    background: var(--q-light) !important;
}

.text-intensity{
    color: var(--q-dark) !important;
}
.bg-intensity{
    background: var(--q-light) !important;
    border-color: rgba(255, 255, 255, 0.24);
}

.body--dark .text-intensity{
    color: var(--q-light) !important;
}
.body--dark .bg-intensity{
    background: var(--q-dark) !important;
    border-color: #1f1f1f3b;
}

/* main1 = eins */
.text-eins{
    color: var(--q-fc-hi-1) !important;
}
.bg-eins{
    background: var(--q-bg-hi-1) !important;
}
.body--dark .text-eins{
    color: var(--q-fc-hi-1-dark) !important;
}
.body--dark .bg-eins{
    background: var(--q-bg-hi-1-dark) !important;
}

/* main2 = zwei */
.text-zwei{
    color: var(--q-fc-hi-2) !important;
}
.bg-zwei{
    background: var(--q-bg-hi-2) !important;
}
.body--dark .text-zwei{
    color: var(--q-fc-hi-2-dark) !important;
}
.body--dark .bg-zwei{
    background: var(--q-bg-hi-2-dark) !important;
}

/* main3 = drei */
.text-drei{
    color: var(--q-fc-hi-3) !important;
}
.bg-drei{
    background: var(--q-bg-hi-3) !important;
}
.body--dark .text-drei{
    color: var(--q-fc-hi-3-dark) !important;
}
.body--dark .bg-drei{
    background: var(--q-bg-hi-3-dark) !important;
}

/* Adapting unsupported qusar dark/light css */
.body--light .q-toggle__label{
    color: var(--q-fc-hi-1);
}

.body--dark .q-toggle__label{
    color: var(--q-fc-hi-1-dark);
}

/* HACK QUASAR CSS and HTML */
/* override message weight of quasar form compoents */
.q-field--error .q-field__bottom {
    font-weight: bold !important;
}
.q-tree__node--selected .q-tree-header-label{
    font-weight: bold !important;
}
/* override quasar components */
.q-tab{
    text-transform: none !important;
}
/* 
 * official table sticky is not work when dark/light toggle 
 * 
 */
.sticky-header-table{
    max-height: 72vh
}
@media (min-height:1080px){
    .sticky-header-table{
        max-height: 80vh
    }
}
@media (min-height:1500px){
    .sticky-header-table{
        max-height: 85vh
    }
}
.min-sticky-header-table{
    max-height: 28vh;
}
.body--dark .sticky-header-table > div > table.q-table > thead > tr:first-child > th{
    background-color: var(--q-dark) !important;
}
.sticky-header-table > div > table.q-table > thead > tr:first-child > th{
    background-color: var(--q-light);
}
.sticky-header-table thead tr th{
    position: sticky;
    z-index: 1;
}
.sticky-header-table thead tr:first-child th{
    top: 0;
}
.sticky-header-table &.q-table--loading thead tr:last-child th{
    top: 48px
}
.sticky-header-table tbody{
    scroll-margin-top: 48px;
}

/* ***********************************************
 common css 
************************************************ */
.content-header{
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.content-title{
    font-size: 24px !important;
    font-weight: bold;
}
.content-main{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.form-row{
    height: 70px !important;
}
.form-row-textarea{
    height: 160px !important;
}
.form-row > div:nth-child(1){
/*
width: calc( (100vw - var(--leftmenu-width)) * 0.25) !important;
*/
    padding-left: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
}
.form-row > div:nth-child(1) strong{
    font-size: 16px !important;
    font-weight: bold !important;
    display: block;
}
/*
.form-row > div:nth-child(2){
    width: calc( (100vw - var(--leftmenu-width)) * 0.7) !important;
}
.form-row > div:nth-child(2) > .q-field{
    width: calc( (100vw - var(--leftmenu-width)) * 0.7) !important;
}
*/
.form-row > div:nth-child(2) > .pf-color-picker{
/*
    width: calc( (100vw - var(--leftmenu-width)) * 0.16) !important;
*/
    width: 150px;
}
.form-row > div:nth-child(2) > strong{
    font-size: 20px !important;
    font-weight: bold !important;
    display: block;
    padding-top: 20px !important;
    padding-left: 10px !important;
}
.error-dialog{
    max-width: 80vw !important;
    width: 80vw !important;
}
.alert-dialog{
    min-width: 20vw !important;
}
.pf-color-picker-col > div:nth-child(2){
    justify-content: flex-start;
    display: flex;
}

.pf-color-picker-icon{
    padding-top: 7px;
    padding-left: 10px;
    size: 3em !important;
}
.db_instance_info_tables{
    width:100%;
}
.hide_pagination .q-table__bottom > .q-table__control:nth-child(1){
    visibility: hidden !important;
}

.body--dark .row-label-value{
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #797979 !important;
}

.row-label-value{
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #bdbdbd !important;
}
.btn-inner-tables{
    size: 8px !important;
    width: 8px !important;
}

.table-selected-delete .q-table .selected{
  background-color: rgba(220, 20, 20, 0.3);
}

.btn-settings-anchor{
    width: 250px;
}
.select-table-filter-column{
    min-width: 150px;
}
.variable-conditions-key{
    min-width: 15vw;
    max-width: 25vw;
}
.variable-conditions-value{
    min-width: 40vw;
    max-width: 50vw;
}

.data-search-conditions-dialog{
    min-width: 70vw;
    max-width: 90vw;
}
.search-conditions-card{
    padding-top: 4px;
    padding-bottom: 4px;
}

/* scrollber */
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--scrollbar-color);
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0,0,0,0);
    background-clip: padding-box;
    -webkit-transition: background-color .28s ease-in-out;
    transition: background-color .28s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}